PORT=4000
DATABASE_URL="postgresql://postgres:postgres@localhost:5434/ecommerce_ai?schema=public"
JWT_ACCESS_SECRET="change-this-access-secret"
JWT_REFRESH_SECRET="change-this-refresh-secret"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"
REDIS_HOST="localhost"
REDIS_PORT=6380
GEMINI_API_KEY=""
GEMINI_MODEL="gemini-1.5-flash"
GEMINI_PROJECT_NAME="projects/34049507697"
GEMINI_PROJECT_NUMBER="34049507697"
GEMINI_PROJECT_ID="gen-lang-client-0811432211"
WEBHOOK_SECRET=""
